body {
  font-family: Arial;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  text-align: center;
  padding-top: 80px;
}

.container {
  background: white;
  width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

button {
  padding: 10px 25px;
  background: #4facfe;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
}
