<!DOCTYPE html>
<html>
<head>
<title>All Tools</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>🧰 All Online Tools</header>

<div class="container tool-grid">

<a href="/" class="tool-card">📄 Merge PDF</a>
<a href="/split" class="tool-card">✂ Split PDF</a>
<a href="/compress" class="tool-card">🗜 Compress PDF</a>
<a href="/image-to-pdf" class="tool-card">🖼 Image to PDF</a>
<a href="/clipboard" class="tool-card">📋 Online Clipboard</a>

</div>

</body>
</html>
